@model IEnumerable<Book>

@{
    ViewData["Title"] = "Index";
}

<h1>List of books</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Store
            </th>
            <th>
                Book Title
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Store.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Add" asp-controller="Cart" asp-route-id="@item.Isbn">Add to cart</a>
                </td>
            </tr>
        }
    </tbody>
</table>
